
#include <resource.h>

#define IDM_PlayMode 10001
#define IDM_PlayRate 11001
#define IDR_MENU2 12000
#define MANIFEST 24
#define IDC_TRB_PROGRESS 1008
#define IDC_LST_PLAYLIST 1009
#define IDC_BTN_STOP 1010
#define IDC_BTN_ABOVE 1011
#define IDC_BTN_PLAY_PAUSE 1012
#define IDC_BTN_NEXT 1013
#define IDC_TRB_SETVOLUME 1022
#define IDC_CHK_MUTE 1002
#define IDC_STC_REMAIN 1006
#define IDC_STC_CURRENT 1014
#define IDC_STC5 1016
#define IDC_TRB_SETBALANCE 1017
#define IDC_STC6 1018
#define IDC_UDN1 1001
#define IDC_GRP1 1005
#define IDC_GRP2 1007
#define IDC_GRP3 1019
#define IDC_ICON1 1021
#define IDC_NODIFYICON 11111
#define IDM_BMONPLAY 105
#define IDC_BMONPLAYOVER 112
#define IDC_BGPIC 107
#define IDC_BMSTOP 108
#define IDC_BMSTOPOVER 109
#define IDC_BMABOVE 110
#define IDC_BMABOVEOVER 111
#define IDM_BMONPAUSE 106
#define IDC_BMONPAUSEOVER 113
#define IDC_BMONNEXT 114
#define IDC_BMONNEXTOVER 115
#define IDR_PlayMode 10000
#define IDM_Random 10002
#define IDM_Sortorder 10003
#define IDM_Loop 10004
#define IDM_Single 10005
#define IDM_SingleLoop 10006
#define IDR_Rate 11000
#define IDM_Half 11002
#define IDM_Nomal 11003
#define IDM_Twice 11004
#define IDR_Transparent 10007
#define IDM_Opaque 10008
#define IDM_P10 10009
#define IDM_P20 10010
#define IDM_P30 10011
#define IDM_P40 10012
#define IDM_P50 10013
#define IDM_P60 10014
#define IDM_P70 10015
#define IDM_P80 10016
#define IDM_P90 10017
#define IDM_OpaqueWhenActive 10018
#define IDD_DLGABOUT 1000
#define IDC_BTN 1001
#define IDC_STC1 1002
#define IDR_XPMANIFEST1 1
#define IDD_MAIN        100



IDD_MAIN DIALOGEX 200,200,250,211
CAPTION "听听播放器"
FONT 8,"Tahoma",0,0,0
LANGUAGE 4,2
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "",IDC_TRB_PROGRESS,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE,6,156,162,18
  CONTROL "",IDC_LST_PLAYLIST,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_WANTKEYBOARDINPUT|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,9,6,156,147,WS_EX_CLIENTEDGE
  CONTROL "停止",IDC_BTN_STOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,6,189,45,18
  CONTROL "<<上一曲",IDC_BTN_ABOVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,67,189,45,18
  CONTROL "播放",IDC_BTN_PLAY_PAUSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,132,189,45,18
  CONTROL "下一曲>>",IDC_BTN_NEXT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,195,189,45,18
  CONTROL "",IDC_TRB_SETVOLUME,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|TBS_VERT|TBS_AUTOTICKS,231,24,12,48
  CONTROL "",IDC_CHK_MUTE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,231,15,12,12
  CONTROL "",IDC_STC_REMAIN,"Static",WS_CHILDWINDOW|WS_VISIBLE,147,174,21,9
  CONTROL "",IDC_STC_CURRENT,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,174,24,9
  CONTROL "声道均衡",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,195,106,36,12
  CONTROL "",IDC_TRB_SETBALANCE,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|TBS_AUTOTICKS,178,122,63,12
  CONTROL "|",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,208,131,4,6
  CONTROL "",IDC_UDN1,"msctls_updown32",WS_CHILDWINDOW|WS_VISIBLE,180,27,12,67
  CONTROL "",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,183,243,27
  CONTROL "",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,174,0,72,184
  CONTROL "",IDC_GRP3,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,0,168,184
END

IDC_ICON1 ICON DISCARDABLE "res/b.ico"
IDC_NODIFYICON ICON DISCARDABLE "res/b.ico"
IDM_BMONPLAY BITMAP DISCARDABLE "res/bmOnPlay.bmp"
IDC_BMONPLAYOVER BITMAP DISCARDABLE "res/bmOnPlayOver.bmp"
IDC_BGPIC BITMAP DISCARDABLE "res/bgpic.bmp"
IDC_BMSTOP BITMAP DISCARDABLE "res/bmStop.bmp"
IDC_BMSTOPOVER BITMAP DISCARDABLE "res/bmStopOver.bmp"
IDC_BMABOVE BITMAP DISCARDABLE "res/bmAbove.bmp"
IDC_BMABOVEOVER BITMAP DISCARDABLE "res/bmAboveOver.bmp"
IDM_BMONPAUSE BITMAP DISCARDABLE "res/bmOnPause.bmp"
IDC_BMONPAUSEOVER BITMAP DISCARDABLE "res/bmOnPauseOver.bmp"
IDC_BMONNEXT BITMAP DISCARDABLE "res/bmNext.bmp"
IDC_BMONNEXTOVER BITMAP DISCARDABLE "res/bmNextOver.bmp"

IDR_PlayMode MENU
BEGIN
  MENUITEM "随机播放",IDM_Random
  MENUITEM "顺序播放",IDM_Sortorder
  MENUITEM "循环播放",IDM_Loop
  MENUITEM "单曲播放",IDM_Single
  MENUITEM "单曲循环",IDM_SingleLoop
END

IDR_Rate MENU
BEGIN
  MENUITEM "低",IDM_Half
  MENUITEM "正常",IDM_Nomal
  MENUITEM "高",IDM_Twice
END

IDR_Transparent MENU
BEGIN
  MENUITEM "不透明",IDM_Opaque
  MENUITEM "10%透明",IDM_P10
  MENUITEM "20%透明",IDM_P20
  MENUITEM "30%透明",IDM_P30
  MENUITEM "40%透明",IDM_P40
  MENUITEM "50%透明",IDM_P50
  MENUITEM "60%透明",IDM_P60
  MENUITEM "70%透明",IDM_P70
  MENUITEM "80%透明",IDM_P80
  MENUITEM "90%透明",IDM_P90
  MENUITEM "激活时不透明",IDM_OpaqueWhenActive
END

IDD_DLGABOUT DIALOGEX 200,200,138,75
CAPTION "关于"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE
BEGIN
  CONTROL "确定",IDC_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,45,57,21
  CONTROL "制作人:xinsuiyuer\r\nE-Mail:xinsuiyuer@gmail.com",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,12,96,24
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

